<div class="col-md-12" ng-controller="HomeCtrl">

    <div class="no-items" ng-show="!shows.length">Searching for shows... <br/>Chill for a few minutes - <br/>They will show up automatically</div>

    <div class="item-container">
        <div class="item" ng-click="$state.go('menu.viewShow', {name: data.name})" style="background: url({{data.info.poster_path}}); background-size: cover; background-repeat: no-repeat" ng-repeat="data in shows | orderBy:'name'">
            <span>{{data.name}}</span>
        </div>
    </div>



</div>
