<div class="col-md-12" ng-controller="ViewshowCtrl">

    <div class="show-name">{{show.name}}</div>



    <div class="item-container" ng-show="!season">
        <div class="item" ng-click="go('home')">
            <div class="title"><i class="fa fa-chevron-left"></i> Back</div>
        </div>
        <div class="item" ng-click="setSeason(data)" ng-repeat="(number, data) in show.data.seasons">
            <div class="title">Season {{number}}</div>
        </div>
    </div>

    <div class="item-container" ng-show="season && !episode">
        <div class="item" ng-click="season = null;">
            <div class="title"><i class="fa fa-chevron-left"></i> Back</div>
        </div>
        <div class="item" ng-click="setEpisode(data)" ng-repeat="(number, data) in season">
            <div class="title">Episode {{number}}</div>
        </div>
    </div>

    <div class="item-container" ng-show="episode">
        <div class="item" ng-click="episode = null;">
            <div class="title"><i class="fa fa-chevron-left"></i> Back</div>
        </div>
        <div class="item" ng-click="viewEpisode(source)" ng-repeat="source in episode.sources">
            <div class="title" style="font-size: 13pt;">{{source.originalName}}</div>
            <span>{{source.quality}}</span>
        </div>
    </div>
</div>
